/*---Buttons font --font-family: 'Frank Ruhl Libre', serif;---*/
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
/*---Headings font --font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*---paragraphs font --font-family: 'Montserrat Alternates', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body{
  background-color: #EBE9E7;
  margin: 0;
}
/*---Start of navigation custom styles---*/
a.navbar-brand img{
  width: 15rem;
}
.header_section .main_menu .navbar{
  padding: 1rem 10rem;
  background-color: #F2F7FE;
  box-shadow: 0 3px rgba(123, 131, 207, 0.4);
}
.mr-auto .collapse li.nav-item{
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.4rem;
  margin: 0 1.4rem;
}
div.right a{
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.6rem;
  margin-left: 5.3rem;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.mr-auto .navbar-nav .nav-link{
  color:#BC5747 !important;
}
.navbar-nav .nav-item a:hover{
  color: rgba(183, 134, 0, 0.6) !important;
}
.navbar-nav .nav-item a:focus{
  color: #000 !important;
}
.navbar div.right a:hover{
  color: rgba(183, 134, 0, 0.6);
}
.navbar div.right a:focus{
  color: #BC5747;
}
@media screen and (min-width: 300px) and (max-width: 650px) {
  .header_section .main_menu .navbar{
    padding-left: 0;
  }
}
/*--end of navigation custom styles*/
/*--start of section1 custom styles*/
.section1 .container .img{
  padding: 0 0 0 0;
  background-color: #fff;
  margin: 1.5rem;
  border-radius: 3rem 3rem 0 0;
  display: flex;
  justify-content: center;
}
.section1 .container img{
  width: 26.8rem;
  padding-top: 4rem;
}
@media screen  and (max-width: 510px) {
  .section1 .container img{
    width: 20rem;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 410px) {
  .section1 .container img{
    width: 15rem;
    padding-top: 2rem;
  }
}
.section1 .container .intro{
  padding-top: 12rem;
}
.container h1{
  font-family: 'Playfair Display', serif;
}
h1 span#my_name{
  color: #565FB6;
  font-weight: 600;
  font-size: 3.2rem;
}
.section1 .container .intro{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.3rem;
}
.section1 .intro .buton{
  margin: 2.2rem;
  }
.section1 .intro #buton{
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.2rem;
  background-color: #BC5747;
}
.section1 .container .intro a{
  text-decoration: none;
}
@media screen and (max-width: 1199.9px) {
  .section1 .container .intro{
    padding: 1.4rem 1.8rem;
  }
  .section1 .intro .buton{
    margin: 0rem;
    }
}
@media screen and (max-width: 500px){
  h1 span#my_name{
    color: #565FB6;
    font-weight: 600;
    font-size: 2rem;
    }
    .section1 .container h1{
      font-size: 1.8rem;
    }
  .section1 .container .intro{
    font-size: 1rem;
  }
}
@media screen and (max-width: 370px){
  .section1 .intro #buton{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 0.8rem;
    background-color: #BC5747;
    padding: 0.5rem;
  }
}
.section2 .container h1#about{
  text-align: center;
}
p{
  font-family: 'Montserrat Alternates', sans-serif;
}
.section2 .container .span#intro{
  text-align: center;
  color: #565FB6;
  font-family: 'Montserrat Alternates', sans-serif;
}
.section2 .container .col-12{
  margin: 2.7rem;
}
.section2 .container img#sec1{
  width: 45rem;
  padding: 8rem 8rem 0 2rem;
}
.section2 .container img#sec2{
  width: 36.3rem;
  padding: 3rem;
  padding-left: 9rem;
}
@media screen and (min-width: 300px) and (max-width: 991.9px){
  .section2 .container img#sec1, .section2 .container img#sec2{
    padding: 0;
  }
}
/*--end of section1 custom styles*/